@{
    ViewBag.Title = "Home Page";
}

<style>
</style>


<main class="index coco">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Los mejores productos</h1>
            <h3 class="mb-5">
                <em>Los tenemos nosotros BREO</em>
            </h3>
            <a class="bot">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Alto botton
            </a>
        </div>
        <div class="overlay"></div>
    </header>
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</main>



