@{
    ViewBag.Title = "Home Page";
}

<style>

</style>


<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Los mejores productos</h1>
            <h3 class="mb-5">
                <em>Los tenemos nosotros BREO</em>
            </h3>
            @Html.ActionLink("Let's get started BREO", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", target = "_blank", @class = "btn btn-primary btn-lg", role = "button" })
        </div>
        <div class="overlay"></div>
    </header>
</main>

